.button {
  border-radius: 4px;
  cursor: pointer;
}

.button.small {
  width: 72px;
  padding: 8px 12px;
}

.button.medium {
  width: 112px;
  padding: 8px 12px;
}

.button.large {
  width: 182px;
  padding: 15px;
  font-size: 18px;
}

.button.primary {
  background-color: #e7354d;
  border: 1px solid #e7354d;
  color: #ffffff;
}

.button.secondary {
  background-color: #ffffff;
  border: 1px solid #e7354d;
  color: #e7354d;
}
